/* styles/BookingForm.module.css */
.bookingFormContainer {
    background-color: #333; /* Slightly darker background for the form */
    padding: 2rem;
    border-radius: 8px;
    margin-top: 2rem;
    color: #ffffff;
}

.formTitle {
    font-size: 1.8rem;
    color: #00ccff; /* Bright color for the form title */
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
}

.error {
  color: #ff4081; /* Bright red for errors */
  margin-bottom: 1rem;
  text-align: center;
}

.success {
    color: #90ee90; /* Light green for success */
    margin-bottom: 1rem;
    text-align: center;
}


.bookingForm {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 1rem;
}

.formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #cccccc;
}

.inputField {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444; /* Darker background for input */
    color: #ffffff;
    font-size: 1rem;
}

.inputField:focus {
    outline: none;
    border-color: #00ccff;
    box-shadow: 0 0 0 0.2rem rgba(0, 204, 255, 0.25);
}

.submitButton {
    background-color: #ff4081;
    color: #ffffff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.5rem;
}

.submitButton:hover {
    background-color: #e0005a;
}
