/* styles/Navigation.module.css */
.navigation {
  background-color: #fff;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navList li {
  margin-left: 2rem;
}

.navList a {
  color: #555;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navList a:hover {
  color: #007bff;
}

.logoutButton {
    padding: 8px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    color: #007bff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logoutButton:hover {
    background-color: #007bff;
    color: #fff;
}


/* Add responsiveness */
@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navList {
    margin-top: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .navList li {
    margin: 0.5rem 0;
  }

  .logoutButton,
   .navList button {
      margin-left: 0;
      margin-top: 0.5rem;
  }
}
